html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

.navbar {
    display: inline;
    justify-content: flex;
    align-items: center;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.carousel {
    background-image: url(./assets/chicago.jpg);
    height: 950px;
    display: flex;
    align-items: end;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    justify-content: end;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: inline-block;
    font-size: 15px;
    padding: 12px 24px;
    margin: 0;
    position: relative;
}

.nav:hover {
    background-color: gray;
    margin: 0;
    padding: 12px 24px;
}

.navdd {
    display: inline-block;
    font-size: 15px;
    padding: 10px 15px;
    margin: 5px;
}

li.search {
    float: right;
    margin: 0;
    padding: 12px 24px;
}

li.search:hover {
    background-color: red;
    margin: 0;
    padding: 12px 24px;
}

.navdd .dropdown {
    display: none;
    list-style-type: none;
    background-color: white;
    text-transform: capitalize;
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 10px 20px;
    z-index: 1;
    font-size: 15px;
    line-height: 1.5;
}

.navdd:hover .dropdown {
    display: block;
    margin: 20px;
    position: absolute;
}

a {
    color: white;
    text-decoration: none;
}

.nyimage {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    animation: changeimage 3s infinite;
}

@keyframes changeimage {
    33% {
        image: url(./assets/chicago.jpg);
    }

    66% {
        image: url(./assets/la.jpg);
    }
}

.band {
    letter-spacing: 4px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 50px;
}

.music {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 15px;
    font-style: italic;
    color: rgb(123, 115, 115);
}

.desc {
    display: block;
    margin: 15px 600px;
    text-align: justify;
    box-sizing: inherit;
    font-size: 15px;
    line-height: 1.5;
}

.person {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 500px;
}

.member {
    height: 150px;
    width: 150px;
}

.name {
    text-align: center;
}

.tour {
    background-color: black;
    color: white;
    padding-top: 70px;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 4px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: gray;
}

.booking {
    color: gray;
    background-color: white;
    border-bottom: 1px solid gray;
    list-style-type: none;
    text-transform: capitalize;
    height: 40px;
    display: flex;
    justify-content: flex;
    align-items: center;
    padding-left: 10px;
}

.detail {
    padding: 10px 550px;
    margin: 20px;
}

.sold {
    color: white;
    background-color: orangered;
    font-size: 15px;
    padding: 5px;
    margin-left: 20px;
}

.left {
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    padding: 2px 8px;
    color: white;
    position: absolute;
    right: 10px;
}

.seatsleft {
    position: relative;
}

.cities {
    background-color: white;
    display: block;
    width: 230px;
    height: 370px;
    margin: 10px;
}

.psn {
    width: 230px;
}

.city {
    color: black;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 0;
}

.available {
    color: gray;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 0;
}

.description {
    color: black;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.5;
}

.buy {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: fit-content;
    margin: 5px 10px;
}

.buy:hover {
    background-color: gray;
}

.ticketdetails {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin: 0 16px;
}

.box {
    margin-bottom: 70px;
}

.contact {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 30px;
    letter-spacing: 4px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.note {
    color: gray;
    text-align: center;
    font-style: italic;
}

.place {
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 50px;
}
.con {
    list-style-type: none;
    line-height: 1.5;
    margin-right: 100px;
    font-size: 18px;
}
i {
    padding-right: 20px;
}

input {
    height: 30px;
    display: block;
    border: 1px solid gray;
    width: 100%;
    overflow: visible;
}

.form {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 600px;
}

.in {
    display: inline-block;
    margin: 10px;
    width: 150px;
}

.msg {
    margin: 10px;
    width: 330px;
}

.fillform {
    display: block;
    margin-top: 10px;
    margin-left: 100px;
}

.send {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 10px;
}

.send:hover {
    background-color: gray;
}

.map {
    width: 100%;
    padding-top: 100px;
    filter: grayscale(50%);
}

.links {
    padding-top: 50px;
    text-align: center;
}

.w3 {
    color: #676c74;
    text-align: center;
}

.css {
    color: #676c74;
    text-align: center;
    text-decoration: underline;
}