@tailwind base;
@tailwind components;

:root {
    --theme: #015ea9;
}

h1 {
    @apply leading-[48px] text-[40px] md:leading-[56px] md:text-[48px]
}

h2 {
    @apply leading-[40px] text-[32px] md:leading-[40px] md:text-[32px]
}

h3 {
    @apply leading-[30px] text-[24px] md:leading-[34px] md:text-[28px]
}

p {
    @apply leading-[24px] text-[20px] md:leading-[24px] md:text-[20px]
}

button,
a {
    @apply leading-[28px] text-[16px] md:leading-[28px] md:text-[16px]
}

.card-shadow {
    box-shadow: 0 0 15px #00000026;
}

.gradient {
    background: linear-gradient(180deg, #ffffff, #eef4ff);
}

@tailwind utilities;